.card{
    font-size: 15px;
    height: 500px;
    margin-bottom: 20px;
}
.card:hover{
    cursor: pointer;
    border: 1px solid red;
    transition: all 0.5s;
}
.card button{
    border:none;
    border-radius: 10px;
    padding: 5px;
    background-color: #32c06b;
    
}
.card button:hover{
    background-color: #07622c;
    transition: all 0.5s;
}
#collapse2 #collapse3 #collapse4  li {
    cursor: pointer;
}


.wrapper {
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #e4e2e2 ;
    font-size: 10px;
  }
  
  .price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 10px;
  }
  .price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
  }
  .field input {
    width: 100%;
    height: 70%;
    outline: none;
    font-size: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
  }
  .price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  .range-input {
    position: relative;
  }
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
  }
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }

#total{
    background-color: #b9eeee;
    position: fixed;
    right: 10px;
    bottom: 40px;
    display: inline-block;
    font-size: 25px;
    border-radius: 5px;
    width: 300px;
}

#instalments{
    position: fixed;
    right: 50vh;
    bottom: 40px;
    width: 50px;
}
#instalments button{
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    width: 130px;
}

#instalments button:hover{
    background-color: #0b5d5d;
    border: none;
    transition: all 0.5s;
}
#basket_shopping div ul{
    background-color: #4dcca0;
    display: inline;
    padding:5px;
    border-radius: 10px;
    width: 600px;
}
#basket_shopping div ul li{
    display: inline-block;
    margin-left: 10px;
}

#basket_shopping div ul li:nth-child(3) i, div ul li:nth-child(4) i{
    color: #07622c;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 5px;
}

#basket_shopping div ul li:nth-child(3) i:hover,li:nth-child(4) i:hover{
    cursor: pointer;
    color: red;
    transition: all 1s;
}

#basket_shopping div ul li:nth-child(3) div{
    background-color: rgb(133, 46, 46)!important;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0;
    display: inline-block;
    
}


#link-hover:hover{
    color: red!important;
    transition: all 0.3s linear;
}
#background-footer-navbar{
    background-color: #2f2f2f;
}
.color-basket-icon{
    color: #aaaaaa;
}
.background-header{
    background-color: #eeeeee;
}

.font-header-title{
    font-size: 20px;
    font-weight: bold;
}

.custom-footer-border-blog-card{
    border: 1px solid #D1D2D4;
}
.font-size-footer-heading{
    font-size: 14px;
    font-weight: 600;
    color: #58595B;
}
.font-size-normal-text{
    font-size: 12px;
}
.background-color-custom{
    background-color: #ededed;
}

.color-text-custom-2{
    color: #58595B;
    font-size: 12px;
}

.color-text-head-menu{
    font-size: 13px;
    color: #58595B!important;
}
.color-text-menu{
    font-size: 14px;
    color: #58595B!important;
}
.custom-font-footer{
    width: 100px;
    height: 60px;
    border: 1px solid #ededed;
}

.background-link{
    background-color: #58595B;
}
.redius-reduction{
    font-size: 15px;
    padding: 8px 5px;
    top: 0px;
    right: 0px;
}


#link-menu a:first-child{
    color: red!important;
    transition: all 0.3s linear;
}

#button-observe-all:hover{
    color: red!important;
    transition: all 0.3s linear;
}


#footer-submit:hover{
    background-color: red!important;
    transition: all 0.25s linear;
}
#list-footer ul li a:hover{
    color: red!important;
    transition: all 0.3s linear;
}
#last-list-footer li:hover{
    border: 1px solid #888888b2;
    transition: all 0.3s linear;
    cursor: default;
}
#last-list-footer li{
    border-radius: 2px;
}

#right-of-header button:hover{
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#right-of-header a:hover{
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#left-of-header i:hover {
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#left-of-header span:hover {
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}

.nav-link:hover{
    color: rgb(0, 0, 0)!important;
    transition: all 0.3s linear;
}

#menu-offcanvas ul li a {
    background-color: #b17070 !important;
}
#menu-offcanvas li a  {
   background-color: white;
   color: black !important;
}
.dropdown-mega .dropdown-menu{
    width: 100%;
}

@media all and (min-width:0px) and (max-width:575px){
    
.custom-padding{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}
.offcanvas{
    --bs-offcanvas-width: 576px;
    }

.nav-link:hover{
    color: white !important;
   
}

}
@media all and (min-width:575px) and (max-width:767px){
    .offcanvas{
        --bs-offcanvas-width: 767px;
    }
    .nav-link:hover{
        color: white !important;
        transition: none;
    }

}
@media all and (min-width:768px) and (max-width:991px){
    .offcanvas{
        --bs-offcanvas-width: 600px;
    }
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}

@media all and (min-width:992px) and (max-width:1199px){
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}
@media all and (min-width:1200px) and (max-width:1399px){
    .dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

}
@media all and (min-width:1400px){
    .offcanvas{
        --bs-offcanvas-width: 600px;
    }
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}