#link-hover:hover{
    color: red!important;
    transition: all 0.3s linear;
}
#background-footer-navbar{
    background-color: #2f2f2f;
}
.color-basket-icon{
    color: #aaaaaa;
}
.background-header{
    background-color: #eeeeee;
}

.font-header-title{
    font-size: 20px;
    font-weight: bold;
}

.custom-footer-border-blog-card{
    border: 1px solid #D1D2D4;
}
.font-size-footer-heading{
    font-size: 14px;
    font-weight: 600;
    color: #58595B;
}
.font-size-normal-text{
    font-size: 12px;
}
.background-color-custom{
    background-color: #ededed;
}

.color-text-custom-2{
    color: #58595B;
    font-size: 12px;
}

.color-text-head-menu{
    font-size: 13px;
    color: #58595B!important;
}
.color-text-menu{
    font-size: 14px;
    color: #58595B!important;
}
.custom-font-footer{
    width: 100px;
    height: 60px;
    border: 1px solid #ededed;
}

.background-link{
    background-color: #58595B;
}


#link-menu a:first-child{
    color: red!important;
    transition: all 0.3s linear;
}

#button-observe-all:hover{
    color: red!important;
    transition: all 0.3s linear;
}


#footer-submit:hover{
    background-color: red!important;
    transition: all 0.25s linear;
}
#list-footer ul li a:hover{
    color: red!important;
    transition: all 0.3s linear;
}
#last-list-footer li:hover{
    border: 1px solid #888888b2;
    transition: all 0.3s linear;
    cursor: default;
}
#last-list-footer li{
    border-radius: 2px;
}

#right-of-header button:hover{
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#right-of-header a:hover{
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#left-of-header i:hover {
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}
#left-of-header span:hover {
    color: rgb(255, 0, 0);
    transition: all 0.3s linear;
}

.nav-link:hover{
    color: rgb(0, 0, 0)!important;
    transition: all 0.3s linear;
}

#menu-offcanvas ul li a {
    background-color: #b17070 !important;
}
#menu-offcanvas li a  {
   background-color: white;
   color: black !important;
}
.dropdown-mega .dropdown-menu{
    width: 100%;
}

@media all and (min-width:0px) and (max-width:575px){
    
.custom-padding{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
    padding-bottom: 0px;
}
.offcanvas{
    --bs-offcanvas-width: 576px;
    }

.nav-link:hover{
    color: white !important;
   
}

}
@media all and (min-width:575px) and (max-width:767px){
    .offcanvas{
        --bs-offcanvas-width: 767px;
    }
    .nav-link:hover{
        color: white !important;
        transition: none;
    }

}
@media all and (min-width:768px) and (max-width:991px){
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}

@media all and (min-width:992px) and (max-width:1199px){
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}
@media all and (min-width:1200px) and (max-width:1399px){
    .dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }

.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

}
@media all and (min-width:1400px){
.dropdown:hover .dropdown-menu{
        display: inline-block;
        position: absolute;
        right: 0%;
    }
.padding-menu{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
}